* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

header .logo-bar {
    background-color: #038a59;
	padding: 10px 0;
    text-align: center;
    max-width: 100%;

}
header .logo-bar img {
    width: 100px;
    height: 90px;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s ease-in;

}

.navbar-header a {
    
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    border-bottom:038a59 2px solid;
    

}

.navbar-header a:hover {
    border-bottom: #333 2px solid;
}

.navbar-header ul {
    display: flex;
    
}


ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.container img {
    background-image: cover;
    width: 100%;
    height: 100%;
}

    



.container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.container .content h1 {
    font-size: 60px;
}

.container .content p {
    font-size: 30px;
    max-width: 600px;
    margin: 20px 0 30px;

}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    color: #333;
    margin: 10px 0px;
}

.btn:hover {
    opacity: 0.9;

}




footer{
position: fixed;
padding: 10px 0;
background-color: #101010;
color: #9d9d9d;
text-align: center;

width: 100%;
}


.bootomLine {
    position: absolute;
}
.loginTab {
    position: center;
}
